.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin-top: 50px;
}

@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .input-wrapper {
    align-items: center;
  }
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #383e59;
}

.choose-status {
  color: #383e59;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}

.status-orange {
  color: #ffdf8c;
  font-weight: 600;
}

.status-sky {
  color: #8ff4db;
  font-weight: 600;
}

.input-wrapper {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
}

.input {
  margin-top: 20px;
  height: 40px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 22px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #383e59;
  border: none;
  outline: none;
}

.dropdown {
  position: relative;
  max-width: 350px;
  height: 40px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 50px 0px #0000000d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  border-radius: 20px;
  cursor: pointer;
}

.icon {
  margin-top: 8px;
}

.btn-icon {
  margin-top: 5px;
}

.btn {
  width: 100%;
  max-width: 210px;
  height: 40px;
  border-radius: 22.5px;
  background-color: #383e59;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
  margin-top: 10px;
  padding: 20px 30px;
  max-width: 350px;
  border-radius: 20px;
  border: none;
  overflow: hidden;
}

.dropdown-item-orange,
.dropdown-item-sky {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-left: 10px;
}

.dropdown-item-orange {
  color: #ffdf8c;
}

.dropdown-item-sky {
  color: #8ff4db;
  margin-top: 10px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
