.add-task {
  font-size: 18px;
  line-height: 21.6px;
  color: #383e59;
  font-weight: 600;
  margin-left: 10px;
}

.wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.main-contest {
  padding: 50px;
}

.container {
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(37, 37, 37, 0.5);
}
