/* src/styles.css */

/* Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Set default font and background */
body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* src/styles.css */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
