.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 60px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.text {
  color: #383e59;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  margin-left: 15px;
}

.status {
  color: #383e59;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
}

.current-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  border-bottom: 3px solid #ffffff;
  height: 74px;
  padding: 0 60px;
}

.delete-edit-wrapper {
  display: flex;
}

.edit-wrapper {
  background-color: #383e59;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.current-text {
  color: #383e59;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  width: 50%;
}

.current {
  color: #ffdf8c;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  width: 25%;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffadad;
  width: 150px;
  height: 40px;
  border-radius: 22.5px;
  color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  cursor: pointer;
}

.delete:hover {
  background-color: #ff6b6b;
  transition: 0.3s;
}
